/* CSS */

/*Kolorki
#FEFEFE - biały
#E6E7E8 - szary
#FEC63E - zółty
#2C4143 - niebieski
#040404 - czarny
*/
html, body {width: 100%; height: 100%;}

/* KEYFRAMES ANIMATION TO CLASS BOUNCE*/
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -moz-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    60% {
        -moz-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    60% {
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -moz-transform: translateX(-30px);
        -ms-transform: translateX(-30px);
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
    60% {
        -moz-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
        -webkit-transform: translateX(-15px);
        transform: translateX(-15px);
    }
}
/* RESET CSS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: bottom;
    background: transparent;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a{
    text-decoration: none;
}
* {
    margin: 0;
    box-sizing: border-box ;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration:none;
}

.centered-vertically{
    display: table-cell;
    vertical-align: middle;
    padding-top: 60px;
}

/*BUTTONS*/
button{
    font-size: 0.85rem;
    background: rgb(254,198,62); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,198,62,1) 0%, rgba(247,203,101,1) 52%, rgba(254,198,62,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,198,62,1)), color-stop(52%,rgba(247,203,101,1)), color-stop(100%,rgba(254,198,62,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(254,198,62,1) 0%,rgba(247,203,101,1) 52%,rgba(254,198,62,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(254,198,62,1) 0%,rgba(247,203,101,1) 52%,rgba(254,198,62,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(254,198,62,1) 0%,rgba(247,203,101,1) 52%,rgba(254,198,62,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(254,198,62,1) 0%,rgba(247,203,101,1) 52%,rgba(254,198,62,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec63e', endColorstr='#fec63e',GradientType=0 ); /* IE6-9 */
    border-radius: 10px;
    width:110px;
    height:33px;
    font-family: sans-serif;
    color:#fff;
    border:none;
    cursor: pointer;
}

button:hover{
    background: #ffbf24;
}
/* HEADING */

.heading{
    width: 100%;
    height: 60px;
    background: #FEFEFE;
    padding: 0 20px;
    position: absolute;
    top: 0;
    z-index: 10;
}
#mainafterlogin-heading{
    border-bottom: 2px solid #FEC63E;

}
.social{
    float:right;
    margin-right: 20px;
    height: 60px;
}
.social li{
    display:inline-block;

}
.social img{
    border:none;
    display:block;
    width: 40px;
    height: 40px;
    margin: 10px 5px;
}
.heading-button{
    float:right;
    margin-top:14px;
}
#heading-button-logout{
    float:right;
    margin-left: 20px;
}
#heading-text{
    float:right;
    margin-top:20px;
    margin-right: 20px;
    color: #2C4143;
    font-size:18px;

}
.logo h1{
    font-size: 39px;
    color: #2C4143;
    font-family: 'Audiowide', sans-serif;
    float:left;
    margin-left: 60px;
}
.logo h1 span{
    font-size: 39px;
    color: #FEC63E;
}
/* Navigation top*/

.global-nav{
    font-size:16px;
    float:left;
    margin-left:60px;
    transition: opacity 0.1s ease 0.3s;
    position: relative;
    z-index: 11;
}
.global-nav li{
    float:left;
    position:relative;
    height:60px;
}
.global-nav > li > a {
    box-sizing: border-box;
    display: block;
    height: 58px;
    line-height: 1em;
    padding: 19px 20px;
    color: darkgrey;
    cursor: pointer;
    text-decoration: none;

    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.global-nav > li > a:hover{
    background: #FEC63E ;
    color: #fff;
}
.user-nav{
    position:absolute;
    right:80px;
    display:block;
    z-index:30;

}
.user-nav > li > h3{
    color: #2C4143;
    font-size:18px;
    margin-top: 18px;
}
.user-nav > li{
    height:60px;
    display: inline-block;
    margin: 0 0 0 20px;
    vertical-align: middle;
    position: relative;
    clear:both;

}
.user-nav > li  > ul{
    position:absolute;
    top:59px;
    right:-1px;
    display:none;
    /*padding: 0;
    margin: 0;*/
    list-style-type:none;
    border: 1px solid #d3d3d3;
    border-top: none;
    z-index: 99;

}
.user-nav > li > ul > li{
    height:40px;
    width:180px;
    background-color: #ffffff;
}
.user-nav > li > ul > li > a{
    color: #040404;
    font-size:14px;
    text-align:center;
    width:100%;
    height:100%;
}

.user-nav > li > ul > li:hover{
    background: #FEC63E;
}
.user-nav > li:hover ul{
    display:block;


}
#avatar:after{
    height:10px;
    width:15px;
    right:20px;
    top:25px;
    border: medium none;
    background-image: url("../img/arrow2.png");
    content: "";
    position: absolute;

}
#avatar-li{
    width:100px;

}
#avatar-li:hover{
    border: 1px solid #d3d3d3;
    border-bottom: none;
}

#avatar-li > ul > li > a > div{
    width: 100%;
    padding: 10px 0;
    height: 40px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

#avatar-li > ul > li > a > div:hover{
    color: #fff;
}


#avatar{
    margin-left:10px;
    top:50%;
    height:40px;
    width:40px;
    display: inline-block;
    margin-top:10px;
}
.avatar-training{
    margin-left:50px;
    top:50%;
    height:60px;
    width:60px;
    display: inline-block;
    margin-top:10px;
}
.avatar-activity img{
    border-radius: 50%;
}
.avatar-activity{
    margin-left:50px;
    height:100px;
    width:100px;
    display: inline-block;
    margin-top:30px;
}

.avatar-training:after{
    content: "";
    height:15px;
    width:15px;
    margin:-35px 0px 0px 102px;
    border-radius: 50%;
    background-color: black;
    display: block;
}
#avatar img, .avatar-training img{
    width:100%;
    height:100%;
    border-radius: 50%;
}

/* NAVIGATION RIGHT */
#slide-nav {
    position: fixed;
    right: 20px;
    top: 50%;
    margin-top: -80px;
    z-index: 11;
}
#slide-nav ul {
    list-style: none;
    color: #000000;
    font-size: 13px;
    text-align: center;
}
#slide-nav li {
    background: none repeat scroll 0 0 #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px -2px #acacac;
    cursor: pointer;
    height: 12px;
    margin-bottom: 20px;
    width: 12px;
    outline: 0 none;
}
#slide-nav li.active{
    background: none repeat scroll 0 0 #FEC63E;
}
#slide-nav a {
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #000000;
    width:12px;
    height:12px;
}
#slide-nav a:hover{
    background: none repeat scroll 0 0 #FEC63E;
    border-radius: 50%;
}
#slide-nav a.disabled {
    cursor: default;
}
/* SECTIONS - MAINPAGE*/
.container{}

section {
    width: 100%;
    padding: 50px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    height: 100vh;
    text-align: center;
    position:relative;
}

section.active {}

section h2{
    font-size: 2rem;
    color: #2C4143;
    font-family: 'Audiowide', sans-serif;
}
section h3{
    font-size: 1.6rem;
    color: #2C4143;
    font-family: 'Audiowide', sans-serif;
}
section h3 span{
    font-size: 1.6rem;
    color: #FEC63E;
}
#mainafterlogin{
    postion:relative;
    z-index: 99;

}
#mainafterlogin-content{
    width: 100% ;
    padding:100px 0px 0px 80px;
}
#mainafterlogin-content h3{
    color:#2C4143 ;
    font-family:'Audiowide';
    font-size:25px;
}
#mainafterlogin-training-margin{
    margin-bottom: 80px;
}
.mainafterlogin-training{

    margin-right: 80px;
    height:200px;

}
.mainafterlogin-training-left{
    width:160px;
    float:left;

    border-right:1px solid gainsboro;
    height: 100%;
}
.mainafterlogin-training-right{
    margin:0px 0px 0px 160px;
    padding-top:32px;
    padding-left: 40px;
    height:100%;
    border-bottom:1px solid gainsboro;
}
.mainafterlogin-training-right h6{
    color:#040404;
    font-size:14px;
    padding-top: 3px;
}
.mainafterlogin-training-right-link a{
    color:#040404;
    font-size:18px;

}
.mainafterlogin-training-right-name a{

    color:grey;
    font-size:14px;
}
.mainafterlogin-training-right-link a:hover, .mainafterlogin-training-right-name a:hover{
    text-decoration: underline;
}
.mainafterlogin-training-right-stat{
    margin-top: 10px;
}
.google-map{
    float:right;
    margin:-90px 200px 0px 0px;
}

.map_canvas{
    width: 88%;
    height: 60%;
    margin: 30px 0px 0px 80px;
    border:1px solid gainsboro;
}
.activity{
    width:100%;
    padding:100px 80px 0px 80px;
    z-index: 1;
}
.activity-header{
    width:100%;
    background-color: #2C4143 ;
    border:1px solid gainsboro;
    border-bottom: none;
    height:50px;

}
.activity-header h3{
    padding: 10px 0 10px 10px;
    color:#FEFEFE;
    font-size:24px;
    float:left;
}
.activity-content{
    width:100%;
    min-height:180px;
    border:1px solid gainsboro;
}
.activity-content:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
.activity-content-left{
    width:46%;
    float:left;
    min-height: 180px;
}
.activity-content-left a{
    color:#808080;
    padding: 0 0 0 180px;
}
.activity-content-left h4{
    margin: -90px 0 6px 180px;
    color:#2C4143;
}
.activity-content-left h5{
    padding: 5px 0 0 180px;
    color:#2C4143;
}
.activity-content-left h6{
    padding: 5px 0 0 180px;
    color:#2C4143;
    font-size:14px;
}
.activity-content-left a:hover{
    text-decoration: underline;
}
.activity-content-right{
    border-left: 1px solid gainsboro;
    width:54%;
    height:100%;
    float:right;
    padding: 40px 0 0 20px;
    min-height: 180px;
}
.activity-content-right h3{
    font-size:24px;
    color: #040404;
}
.activity-content-right h6{
    color: #808080;
    margin-top: -3px;
    font-size:13px;
}
.activity-content-right-distance h3:before,
.activity-content-right-calories h3:before,
.activity-content-right-time h3:before{
    height: 40px;
    width: 40px;
    content: "";
    display: block;
    float:left;
    margin:0px 10px 0 0;
    background-color: #FEC63E;
    border-radius: 50%;

}
.activity-content-right-distance{
    float:left;
    width:33%;
}
.activity-content-right-time{
    float:left;
    width:33%;
}
.activity-content-right-calories{
    float:left;
    width:33%;
}
.activity-content-right-button{
    clear:both;
    text-align: center;
    width: 100%;
    padding:30px 0;
}
.activity-content-right-more{
    background-color: #f5f5f5;
    margin-left: -20px;
    padding: 20px;
}
.activity-content-right-more:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
.activity-content-right-more-speed {
    text-align: center;
    float:right;
    width:40%;
    text-align: left;
}
.activity-content-right-more-label{
    float:left;
}
.activity-content-right-more-label h3{
    font-size:18px;
}
.activity-content-right-more-speed h4{
    font-size:18px;
}

#mainpage1{
    background: url("../img/3.jpg");
    background-size: cover;
    border-top: 2px solid #FEC63E;
    margin-top: 60px;
}
#mainpage1-content{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#mainpage1-button{
    margin-top:10px;
}
#mainpage2 {
    background: url("../img/2.jpg");
    background-size: cover;
    display: table;
}
#mainpage2-heading{
    display: table-row;
    text-align: center;
    width: 100%;
}

#mainpage2 h2{
    color: #E6E7E8;
}
#mainpage2-content h3{
    color:#E6E7E8;
    font-family:Cabin;
    font-size:1.6em;
}
#mainpage2-content{
    width: 950px;
    margin:0 auto;
}
#mainpage2-content ul{
    float:left;
}
#mainpage2-content li{
    display:inline-block;
    margin:0 30px 0 90px;
}
#mainpage2-content li:first-child{
    margin:0 20px 0 10px;
}
#mainpage2-content img{
    margin:50px 50px 50px 50px;
    float:left;
}
.arrow{
    float:left;
    height: 45px;
    margin: 0px 0px 0;
    width: 45px;
}
#arrow-margin{
    margin: 110px 10px !important;
}
.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
#mainpage3 {
    background: none repeat scroll 0 0 #f8f8f8;
    text-align: center;
    background-size: cover;
}
.mainpage3-center{
    width:950px;
    margin:0 auto;
    margin-top:75px;
}
.mainpage3-col{
    width:33.33333%;
    float:left;
    padding:0 15px;
    min-height: 1px;
    position:relative;
}
.mainpage3-col-effect{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
.mainpage3-col-effect-img{
    border: 1px dashed #909090;
    border-radius: 50%;
    height: 122px;
    margin: 40px auto 0;
    width: 122px;
}
.mainpage3-col-effect-img-inside{
    background-color: #5b5956;
    border-radius: 50%;
    height: 110px;
    margin: 5px;
    padding-top: 23px;
    transition: all 500ms ease 0s;
    width: 110px;
}
.mainpage3-col-effect-img-inside:hover {
    background-color: #FEC63E;
}
.mainpage3-col-effect-img-inside-img{
    position:relative;
    display:inline-block;
    width: 60px;
    height: 60px;
}
.mainpage3-col-effect-head{
    color: #FEC63E;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 15px;
}
.mainpage3-col-effect-text {
    color: #777777;
    font-size: 13px;
    padding:0 15px;
}

#mainpage4 {
    background: none repeat scroll 0 0 #f8f8f8;
    text-align: center;
    background-size: cover;
}
#mainpage5 {
    background: url("../img/3.jpg");
    background-size: cover;
}
/* SUMMATION */


/*div.domtab{
    padding:0 3em;
    width:80%;
    font-size:90%;
    height: 400px;
}*/
ul.domtabs{
    width:720px;
    height:75px;
    margin: 0 0 15px 15px;
}
ul.domtabs li{
    float:left;
    padding:0 .5em 0 0;
}

#domtabprintview{
    float:right;
    padding-right:1em;
    text-align:right;
}

ul.prevnext{
    float:left;
    width:98%;
    padding: 0px 260px 0 260px;
    font: 16px/30px sans-serif;
    margin-left:15px;
    border: 1px solid silver;
    background-color: #F7F7F7;
}
ul.prevnext a{
    color:#666;
}
ul.prevnext li{
    float:left;
    width:49%;
}
ul.prevnext li.next{
    float:right;
    text-align:right;
}
#summination{
    display: block;
}
.summation{
    width:1185px;
    margin: 100px auto;
}
.summation h3{
    color:#2C4143 ;
    font-family:'Audiowide';
    font-size:25px;
    margin-bottom:30px;
}
.summation-button{
    margin-bottom:15px;
}
#summation-date{
    line-height: 2em;
    width: 720px;
}
#summation-date p{
    margin-left:15px;

}
.summation-date-color{
    border: 1px solid silver;
    background-color: #F7F7F7;
}
.summation-date-float{
    float:right;
    margin-right: 15px;
}
/* LOGIN AND SIGN UP PAGE */
#login, #signup{
    height: 100vh;
    width: 100%;
    background: url("../img/11.jpg");
    background-size: cover;
    display: table;
}
/* FORMS */
.no_training-form-container{
    height: 300px;
    text-align: center;
}
.no_training-form-container h4{
    font-size:35px;
    color:white;
    margin-top:20px;
}
.no_training-form-container img{
    margin: 20px auto;
}
.no_training-button{
    margin: 50px auto;
    width:120px;
}
.form-container,.no_training-form-container{
    width: 400px;
    margin: 0 auto;
    background-color: rgba(230, 231, 232, .5);
    border: 1px solid silver;
    font: 16px calibri;
    letter-spacing: -1px;
    -webkit-box-shadow: 0 0 2px silver;
    -moz-box-shadow: 0 0 2px silver;
    box-shadow: 0 0 2px silver;
}
.form-heading{
    background: #FEFEFE;
    width: 100%;
    padding: 0px 20px;
    -webkit-box-shadow: 0 0 2px silver;
    -moz-box-shadow: 0 0 2px silver;
    box-shadow: 0 0 2px silver;
}
.form-heading h3{
    font-size: 39px;
    color: #2C4143;
    font-family: 'Audiowide', sans-serif;
    padding: 0;
}
.form-footer {
    background: #FEFEFE;
    width: 100%;
    padding: 15px 20px;
    margin-top: 40px;
    -webkit-box-shadow: 0 0 2px silver;
    -moz-box-shadow: 0 0 2px silver;
    box-shadow: 0 0 2px silver;
}
#edit-form-footer {
    background: #FEFEFE;
    width: 100%;
    padding: 15px 20px;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 2px silver;
    -moz-box-shadow: 0 0 2px silver;
    box-shadow: 0 0 2px silver;
    height:50px !important;
}
#form-footer-button{
    float:right;
}
#login .form-footer{
    height:60px;
}
#signup .form-footer{
    text-align:right;
    height:60px;
}
.form-footer a{
    color: #2C4143;
}
.form-footer a:hover{
    text-decoration: underline;
}
label, .summation label{
    display: block;
    width: 260px;
    padding: 8px 20px;
    color: #FEFEFE;
    font-size: 16px;
    float:left;
}
.summation label{
    color: #000000;
    width:120px;
}
#year{
    width: 150px;
    padding: 8px 5px;
    border: 1px solid silver;
    font-size:14px;
    border-radius: 10px;
    display: inline;
    margin:5px 15px 15px 15px;
}
#username, #password, #firstname, #lastname, #email, #password2, .input-text, #name, #weight, #height {
    display: block;
    width: 360px;
    margin: 0 auto;
    padding: 8px 5px;
    border: 1px solid silver;
    font-size:14px;
    border-radius: 10px;
}
#username:focus, #password:focus, #firstname:focus, #lastname:focus, #email:focus, #password2:focus, .input-text:focus {
    border: 1px solid grey;
    outline: 0px;
}
/*#signup #username,#signup #password,#signup #email, #signup #password2, #signup #name, #signup #weight, #signup #height {
    margin-top:25px;
}*/

.check {
    color:#FEC63E;
    float: left;
    margin:8px 0px 0px 2px;
    font-size: 11px;
    padding:0 0 3px 5px;
    font-size:13px;
}
#checkbox {
    float:left;
    margin:10px 0px 0px 20px;
}


/* ERRORS */
.validation-summary-errors{
    background: #ffbf24;
    min-height: 40px;

}

.validation-summary-errors p{
    list-style: none;
    padding: 8px 0 8px 20px;
    margin: 0;
    color: #fff;
    font-size: 16px;
}
/* GRAPHS */
.graph{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
}
.graph-placeholder {
    width: 95%;
    height: 250px;
    font-size: 14px;
    line-height: 1.2em;
}
#placeholder > div.legend > table{
    width:110px;
}
#placeholder > table > tbody > tr > div.legendColorBox{
    padding:2px;
}
/* FOOTER*/
footer,#activity-footer {
    height: 30px;
    width: 100%;
    background: #2C4143;
    color:#E6E7E8;
    text-align: center;
    font-family: sans-serif;
    padding-top:5px;
}
#no_training-footer{

}
#activity-footer{
    margin-top:30px;
}

/*  VIDEO   */
.aspect-ratio {
    position: relative;
    max-width: 100%;
    height: auto;
}

.aspect-ratio > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.aspect-ratio-16-9{
    padding-top: 56.25% !important;
}
#delete{
    float:right;
    margin:10px 10px 5px 5px;
}
/* PAGINATION */

#container {
    width: 600px;
    margin: 0 auto;

}

.btn {
    display: inline-block;
    padding: 10px;
    border-radius: 5px; /*optional*/
    color: #aaa;
    font-size: .875em;
}

.pagination {
    /*background: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;*/

    text-align: center;
    margin: 0 auto;
    padding: 30px 20px 0 20px;
    font: 16px/30px sans-serif;
}
.pagination a{
    color: #666;
}

.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}